.root {
    /*-fx-focus-color: #ff1200;*/
    /*-fx-accent: #fbfff9;*/
    -fx-fill-width: true;
}

.kg_letter {
    -fx-font-family: Serif;
    -fx-font-size: 21px;
    -fx-fill: #c3c8ff;
}

.kg_letter:hover {
    -fx-font-weight: bold;
    -fx-fill: #ff0000;
    -fx-alignment: top-left;
}

.background {
    -fx-background-image: url("CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color: linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

.text-field {
    /*-fx-accent: #797cff;*/
    -fx-font-size: 18;
    -fx-background-color: rgb(255, 255, 255, 0.3),
    linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
    rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-padding: 6 10 4 10;
    -fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2);
    -fx-font-family: "Times New Roman";
}

.text-field:focused {
    -fx-prompt-text-fill: rgb(128, 128, 128);
    -fx-background-color: rgb(235, 235, 235, 0.5),
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255);
}

#progress .percentage {
    -fx-fill: #fc3436;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

.progress-indicator .percentage {
    -fx-font-size: 12pt; /* 11pt - 1 less than the default font */
    -fx-fill: #fff4fb;
}

.table-view {
    -fx-background-size: cover;
    -fx-background-color: #b1ffa4;
    -fx-accent: #beffbd;
    /*-fx-focus-color: #c7ffb7;*/
}

#search-button:disabled {
    -fx-background-color: #f2fcff;
    -fx-text-fill: #000000;
}

.button:hover {
    -fx-color: -fx-hover-base;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;
}

/*Индикатор колличества найденных предложений*/
#quantity {
    -fx-fill: #6eff5e;
    -fx-font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    -fx-font-weight: lighter;
    -fx-font-size: 15pt;
}

.auto-complete-popup > .list-view {
    -fx-background-color: linear-gradient(to bottom,
    derive(-fx-color, -17%),
    derive(-fx-color, -30%)
    ),
    -fx-control-inner-background;
    -fx-background-insets: -1 -2 -1 -1, 0 -1 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-background-color: black;
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: black;
}

.auto-complete-popup > .list-view > .placeholder > .label {
    -fx-text-fill: red;
}

.pagination-button {
    -fx-background-image: url('/sample/view/angle_double_down.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30px 30px;
}